<%- include('./head') %>
<main>
    <section><h1>detailpagina</h1></section>

    <section class="method-info">
        <div class="method-categories">
        <ul>
            <li><i class="fa-solid fa-sitemap"></i> organiseren </li>
            <li><i class="fa-solid fa-users"></i> leren over andere </li>
            <li><i class="fa-solid fa-hourglass-half"></i> 5-10 minuten </li>
            <li><i class="fa-solid fa-pen-to-square"></i> papier en pen </li>
        </ul>

        </div>
        <div class="method-info-text">
         <p>Deze oefening is bedoeld om los te komen en studenten te laten zien dat tekenen heel simpel 
            kan zijn als je denkt vanuit de basisvormen.Studenten zetten hiermee hun creatieve brein aan en 
            oefenen met het tekenen van simpele iconen en symbolen.
         </p>
        </div>

        <section class="carousel">
    
        </section>

        <button class="like-button"> maak favoriet <i class="fa-solid fa-heart"></i> </button>
         <button class="like-button"> comment <i class="fa-solid fa-heart"></i> </button>

    </section>

</main>
<%- include('./foot') %>