<%- include('./head') %>
<main>
    
    <section class="homepage-text">
      <h1>Visual Thinking in het hbo</h1>
        <p>Visual thinking leert studenten en docenten hun
            gedachten en doelen te verbeelden. Het helpt ze bij het creëren van overzicht
            en het overbrengen van hun boodschap.
         <p class="emphasis"> Bekijk hoe het werkt </p>
        </p>
         <a href="./overzichtspagina"><img src="/homepage-button.png" alt="button met pijltjes naar benenden"></a>
    </section>

    
    <section>
   <img class="svg-beehives" src="beehives-pattern.svg" alt="..">
    </section>

</main>

<footer>
  
</footer>

<%- include('./foot') %>