<%- include('./head') %>
<main>
    <section>
        <h1>Mijn profiel</h1>
    </section>

    <section class="mijn_favorieten">
        <h2>Mijn favorieten</h2>

        <div class="mijn_favorieten_container">
            <div class="mijn_favorieten_card">
            </div>
        </div>
    </section>
</main>

<%- include('./foot') %>